

<div>
    <h3>Create a new story</h3>
    <form method="POST">
        <br/>
        <div>
            <div class="input-field">
                <input placeholder="New story title" id="title" name="title" type="text">
                <label for="title">Title: </label>
            </div>
            <div class="input-field">
                <textarea id="content" name="content" class="materialize-textarea"></textarea>
                <label for="content">Content</label>
            </div>
            <input type="submit" class="btn" value="save">
            <a href="/"><input type="button" value="cancel" class="btn red"></button></a>
        </div>
    </form>
</div>

